<%= form_for(programme) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :titre %><br/>
    <%= f.text_field :titre, size:50 %>
  </div>

  <div class="field">
    <%= f.label :date_debut, "Date de début" %><br/>
    <%= f.datetime_select :date_debut %>
  </div>

  <div class="field">
    <%= f.label :date_fin, "Date de fin" %><br/>
    <%= f.datetime_select :date_fin %>
  </div>

  <div class="field">
    <%= f.label :responsable_id %><br/>
    <%= f.select :responsable_id, User.all.order(:nom).collect { |p| [p, "#{p.id}"]} %>
  </div>


    <% if programme.id.nil? %>
        <div class="field">
            <%= f.label "Documents types" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
    <% end %>


  <div class="actions">
    <%= f.submit "Enregistrer", class: "ui button blue mini" %>
  </div>

<% end %>
