<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @programme.titre %>
</p>

<p>
  <strong>Date de début:</strong>
  <%= I18n.l @programme.date_debut %>
</p>

<p>
  <strong>Date de fin:</strong>
  <%= I18n.l @programme.date_fin %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @programme.responsable %>
</p>

<p>
    <strong>Documents types associés:</strong><br/>
    <% @programme.documents.each do |p| %>
    <%= link_to "#{p.path.split('/').last}", p.url, target: "_blank" %><br/>

    <% end %>
</p>


<%= link_to 'Modifier', edit_programme_path(@programme), class: "ui button mini" %> |
<%= link_to 'Retour', programmes_path, class: "ui button mini" %>
