<%= form_for(dmsession) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>


  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre, size:50 %>
  </div>

  <div class="field">
    <%= f.label :date_debut, "Date de début" %>
    <%= f.datetime_select :date_debut %>
  </div>

  <div class="field">
    <%= f.label :date_fin, "Date de fin" %>
    <%= f.datetime_select :date_fin %>
  </div>

  <div class="field">
    <%= f.label :programme_id %>
    <%= f.select :programme_id, Programme.all.collect { |p| [p, "#{p.id}"]} %>
  </div>

  <div class="field">
    <%= f.label :responsable_id %>
    <%= f.select :responsable_id, User.all.collect { |p| [p, "#{p.id}"]} %>
  </div>

  <div class="field">
    <%= f.label :medecin_referent_id, "Médecin référent" %>
    <%= f.select :medecin_referent_id,  User.where(:profil => "médecin référent").collect { |p| [p, "#{p.id}"]} %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

    <% if dmsession.id.nil? %>
        <div class="field">
            <%= f.label "Documents" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
    <% end %>
    


    <div class="field">
        <%= f.label :participants %><br/>
        <% User.all.each do |user| %>
        <%= f.check_box :participant_ids, {:multiple => true}, user.id, nil %> <%= user %><br/>
        <% end %>
    </div>



  <div class="actions">
    <%= f.submit "Enregistrer", class: "ui button mini blue" %>
  </div>


    <hr/>

    <% if dmsession.documents.count != 0 %>
    <br/>
    <div class="field"/>
        <%= f.label "Documents" %><br/>
        <% dmsession.documents.each_with_index do |p,i| %>
            <%= link_to "#{p.path.split('/').last}", p.url, target: "_blank" %> <%= link_to "(supprimer)", dmsession_document_path(@dmsession, i), :method => :delete, data: {confirm: "Etes-vous certain de supprimer ?" } %><br/>
        <% end %>
    </div>
    <% end %>
<% end %>



<% if !dmsession.id.nil? %>
    <%= form_for dmsession, url: dmsession_documents_path(dmsession), method: :post do |f| %>
        <div class="field">
            <%= f.label "Ajouter des documents" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
        <div class="actions">
            <%= f.submit "Ajouter", class: "ui button mini blue" %>
        </div>
    <% end %>
<% end %>


