<p id="notice"><%= notice %></p>

<%= will_paginate %>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Programme</th>
      <th>Responsable</th>
      <th>Médecin référent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dmsessions.each do |dmsession| %>
      <tr>
        <td><%= dmsession.titre %></td>
        <td><%= I18n.l dmsession.date_debut %></td>
        <td><%= I18n.l dmsession.date_fin %></td>
        <td><%= dmsession.programme.titre unless dmsession.programme.nil? %></td>
        <td><%= dmsession.responsable %></td>
        <td><%= dmsession.medecin_referent %></td>
        <td><%= link_to 'Voir', dmsession, class: "ui button mini label green" %></td>
        <td><%= link_to 'Modifier', edit_dmsession_path(dmsession), class: "ui button mini label orange" %></td>
        <td><%= link_to 'Supprimer', dmsession, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "ui button mini label red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br/>

<%= link_to 'Créer une nouvelle session', new_dmsession_path, class: "ui button blue" %>
