<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @dmsession.titre %>
</p>

<p>
  <strong>Date de début:</strong>
  <%= I18n.l @dmsession.date_debut %>
</p>

<p>
  <strong>Date de fin:</strong>
  <%= I18n.l @dmsession.date_fin %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @dmsession.programme.titre unless @dmsession.programme.nil? %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @dmsession.responsable %>
</p>

<p>
  <strong>Medecin referent:</strong>
  <%= @dmsession.medecin_referent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dmsession.description %>
</p>

<%= link_to 'Modifier', edit_dmsession_path(@dmsession) %> |
<%= link_to 'Retour', dmsessions_path %>
