<tr>
    <td><%= user.civilite %></td>
    <td><%= user.nom %></td>
    <td><%= user.prenom %></td>
    <td><%= user.profil %></td>
    <td><%= user.societe.raison_sociale unless user.societe.nil? %></td> 
    <td><%= link_to 'voir', user %></td>

    <% if current_user.admin? %>
    <td><%= link_to 'Modifier', edit_user_path(user) %></td>
    <td><%= link_to "supprimer", user, method: :delete, data: {confirm: "Etes-vous certain de supprimer #{user.nom} ?"}  %>
    <% end %>
</tr>
