<h1>Edition du profil</h1>
<%= form_for(@user) do |f| %>

	<%= render 'fields', :f => f %>

	<div class="actions">
		<%= f.submit "Enregistrer" %>
	</div>
<% end %>

<%= link_to 'Voir', @user %> |
<%= link_to 'Retour', users_path %>
