<p><strong>Civilité:</strong>  <%= @user.civilite %></p>
<p><strong>Nom:</strong>  <%= @user.nom %></p>
<p><strong>Prénom:</strong>  <%= @user.prenom %></p>
<p><strong>Email:</strong>  <%= @user.email %></p>
<p><strong>Profil:</strong>  <%= @user.profil %></p>
<p><strong>Société:</strong>  <%= @user.societe %></p>
<p><strong>Adresse:</strong>  <%= @user.adresse %></p>
<p><strong>Code postal:</strong>  <%= @user.code_postal %></p>
<p><strong>Ville:</strong>  <%= @user.ville %></p>
<p><strong>Téléphone:</strong>  <%= @user.telephone %></p>

<%= link_to 'Modifier', edit_user_path(@user) %> |
<%= link_to 'Retour', :back %>
