<%= form_for(@objectdm) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

    <% if @objectdm.documents.count != 0 %>
    <br/>
    <div class="field"/>
        <%= f.label "Documents" %><br/>
        <% @objectdm.documents.each_with_index do |p,i| %>
            <%= link_to "#{p.path.split('/').last}", p.url, target: "_blank" %> <%= link_to "(supprimer)", send("#{@objectdm.class.to_s.downcase}_document_path", @objectdm,i), :method => :delete, data: {confirm: "Etes-vous certain de supprimer ?" } %><br/>
        <% end %>
    </div>
    <% end %>
<% end %>

<% if !@objectdm.id.nil? %>
    <%= form_for @objectdm, url: send("#{@objectdm.class.to_s.downcase}_documents_path",@objectdm),  method: :post do |f| %>
        <div class="field">
            <%= f.label "Ajouter des documents" %><br/>
            <%= f.file_field :documents, multiple: true, required: true %>
        </div>
        <div class="actions">
            <%= f.submit "Ajouter", class: "ui button mini blue" %>
        </div>
    <% end %>
<% end %>

<%= link_to 'Retour', send("#{@objectdm.class.to_s.downcase.pluralize}_path"), class: "ui mini button" %>
