<%= render 'shared/error_messages', :object => @reunion %>

<% @relation_reunion_users.each do |rru| %>
    <%= form_for rru, url: reunion_role_path(@reunion,rru.user), method: :patch do |f| %>

        <div class="field">
            <%= rru.user %> <%= f.select :user_role, RelationReunionUser::ROLES.collect { |p| [p, p]}, { selected: rru.user_role}, { onchange: "this.form.submit();"} %>
        </div>

 
    <% end %>
<% end %>



<%= link_to 'Retour', reunions_path, class: "ui button" %>
