<%= form_for(reunion) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre, size:50 %>
  </div>

  <div class="field">
    <%= f.label :date_debut, "Date de début" %>
    <%= f.datetime_select :date_debut %>
  </div>

  <div class="field">
    <%= f.label :lieu %>
    <%= f.text_field :lieu, size:50 %>
  </div>

  <div class="field">
    <%= f.label :ordre_du_jour %><br/>
    <%= f.text_area :ordre_du_jour %>
  </div>

  <div class="field">
    <%= f.label :dmsession_id, "Session" %>
    <%= f.select :dmsession_id, @dmsessions.collect { |p| [p.titre, "#{p.id}"] } %>
  </div>

    <% if reunion.id.nil? %>
        <div class="field">
            <%= f.label "Documents" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit "Enregistrer", class: "ui button blue mini" %>
  </div>
<% end %>


