<%= form_for(reunion) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :date_debut, "Date de début" %>
    <%= f.datetime_select :date_debut %>
  </div>

  <div class="field">
    <%= f.label :lieu %>
    <%= f.text_field :lieu %>
  </div>

  <div class="field">
    <%= f.label :ordre_du_jour %>
    <%= f.text_field :ordre_du_jour %>
  </div>

  <div class="field">
    <%= f.label :dmsession_id, "Session" %>
    <%= f.select :dmsession_id, Dmsession.all.collect { |p| [p.titre, "#{p.id}"] } %>
  </div>

    <% if reunion.id.nil? %>
        <div class="field">
            <%= f.label "Documents" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
    <% end %>


  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>

    <hr/>

    <% if reunion.documents.count != 0 %>
    <br/>
    <div class="field"/>
        <%= f.label "Documents" %><br/>
        <% reunion.documents.each_with_index do |p,i| %>
            <%= link_to "#{p.path.split('/').last}", p.url, target: "_blank" %> <%= link_to "(supprimer)", reunion_document_path(@reunion, i), :method => :delete, data: {confirm: "Etes-vous certain de supprimer ?" } %><br/>
        <% end %>
    </div>
    <% end %>
<% end %>

<% if !reunion.id.nil? %>
    <%= form_for reunion, url: reunion_documents_path(reunion), method: :post do |f| %>
        <div class="field">
            <%= f.label "Ajouter des documents" %><br/>
            <%= f.file_field :documents, multiple: true %>
        </div>
        <div class="actions">
            <%= f.submit "Ajouter" %>
        </div>
    <% end %>
<% end %>

