<p id="notice"><%= notice %></p>

<h1>Réunions</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Date de début</th>
      <th>Lieu</th>
      <th>Ordre du jour</th>
      <th>Session</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @reunions.each do |reunion| %>
      <tr>
        <td><%= reunion.titre %></td>
        <td><%= I18n.l reunion.date_debut %></td>
        <td><%= reunion.lieu %></td>
        <td><%= reunion.ordre_du_jour %></td>
        <td><%= reunion.dmsession.titre unless reunion.dmsession.nil? %></td>

        <% nb_present = reunion.count_presents %>
        <td><% if current_user.canModifyReunion?(reunion.id) %><%= link_to 'Présences', reunion_presences_path(reunion) %>(<%= nb_present %>/<%= reunion.count_participants %>)<br/><% if nb_present != 0 %><%= link_to 'Rôles', reunion_roles_path(reunion) %>(<%= reunion.count_roles%>)<% end %><% end %></td>
        <td><%= link_to 'Voir', reunion %></td>
        <td><% if current_user.canModifyReunion?(reunion.id) %><%= link_to 'Modifier', edit_reunion_path(reunion) %><br/><%= link_to "Diffuser",diffuser_reunion_path(reunion) %><% end %></td>
        <td><% if current_user.canDeleteReunion?(reunion.id) %><%= link_to 'Supprimer', reunion, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.canNewReunion? %>
    <%= link_to 'Créer une nouvelle réunion', new_reunion_path %>
<% end %>
