<p id="notice"><%= notice %></p>

<% if !@reunion.historique.nil? %>
<div id="historique" class="round">
    <strong>Dernier état</strong><br/>
    <div class="content"><%= @reunion.historique %></div>
</div>
<% end %>

<p>
  <strong>Titre:</strong>
  <%= @reunion.titre %>
</p>

<p>
  <strong>Date de début:</strong>
  <%= I18n.l @reunion.date_debut %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @reunion.lieu %>
</p>

<p>
  <strong>Ordre du jour:</strong>
  <%= @reunion.ordre_du_jour %>
</p>

<p>
  <strong>Session:</strong>
  <%= @reunion.dmsession.titre unless @reunion.dmsession.nil? %>
</p>

<p>
    <strong>Documents:</strong><br/>
    <% @reunion.documents.each do |p| %>
        <%= link_to "#{p.path.split('/').last}", p.url, target: "_blank" %><br/>
    <% end %>

</p>

<p>
    <strong>Personnes présentes:</strong><br/>
    <% @reunion.presents.each do |p| %>
    <% role = @reunion.getrole(p.id) %>
        <%= p %> <% if !role.nil? %>(<%= role %>)<% end %><br/>
    <% end %>
</p>


<% if current_user.canModifyReunion?(@reunion.id) %><%= link_to 'Modifier', edit_reunion_path(@reunion) %> |
<% end %><%= link_to 'Retour', reunions_path %>
