<!DOCTYPE html>
<html>
  <head>
    <title><%= @synthese.titre %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :application %>
    <%= javascript_include_tag :initsemanticui %>
  </head>
  <body>
    <div class="container">
      <section class="round">
	<%= yield %>
      </section>
    </div>
  </body>
</html>
